body {
  margin: 0px;
  font-family: Arial Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.5px;
  color: #24282D;
}

h1 {
  font-weight: 500;
  font-size: 40px;

}

h2 {
  font-weight: 300;
  font-size: 30px;
}

p {
  font-weight: 300;
  color: #333333;
  display: block;
  padding: 15px;
}

a {
  text-decoration: none;
}

/* OPEN NAVIGATION */

.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #006EE5;
  z-index: 999;
  padding: 20px;
  width: 100%;
  height: 65px;
  color: #fff;
  font-weight: 300;
}

.navigation img {
  margin-top: 10px;
  margin-left: 90px;
  width: 100px;
}

.navigation a {
  color: #fff;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation .contact-login {
  position: absolute;
  right: 220px;
  top: 20px;
}

.navigation .divider {
  margin: 20px;
}

.navigation .contact-login a {
  font-size: 14px;
  font-weight: 100;
}

.navigation .slide {
  margin-top: 10px;
  margin-right: 132px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.navigation .slide a {
  margin-left: 90px;
}

/* CLOSE NAVIGATION */

/* OPEN HEADER */

header {
  background-color: #006EE5;
  height: 1050px;
  border-bottom-right-radius: 90%;
}

.header-content {
  position: absolute;
  top: 250px;
  left: 100px;
  color: #fff;
}

.header h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.header p {
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}

.header .header-link {
  padding-top: 10px;
  position: absolute;
  top: 410px;
  left: 100px;
  background-color: #fff;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.header .header-link a {
  color: #24282D;
  font-size: 30px;
}

.header .header-link a:hover {
  text-decoration: underline;
}

.header .simpati {
  position: absolute;
  top: 80px;
  right: 300px;
}

.header .alfa {
  position: absolute;
  top: 440px;
  left: 475px;
}

.header .bri {
  position: absolute;
  top: 530px;
  right: 300px;
}

.header .unilever {
  position: absolute;
  top: 170px;
  right: 40px;
}

/* CLOSE HEADER */

main h1 {
  margin-top: 100px;
  text-align: center;
}

main h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}


/* OPEN MAIN */

.section-one,
.section-two-top {
  display: flex;
  justify-content: space-around;
  padding: 75px 150px;
}

.section-two-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section-one img,
.section-two-top img,
.section-two-bottom img {
  width: 120px;
}

.section-one div,
.section-two-top div,
.section-two-bottom div {
  text-align: center;
  width: 300px;
}

.section-two-top .laptop h2,
.section-two-top .gear h2,
.section-two-bottom div h2 {
  margin-bottom: 64px;
}

.section-two-bottom div {
  margin-right: 20px;
  margin-left: 20px;
}

.section-three {
  display: flex;
  justify-content: space-around;
  padding: 75px 150px;
}

.section-three img {
  width: 200px;
}

.work {
  display: flex;
  justify-content: center;
}

.work-link {
  width: 200px;
  height: 50px;
  padding-top: 18px;
  text-align: center;
  background-color: #006EE5;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
}

.work-link a {
  color: #fff
}

.work-link a:hover {
  text-decoration: underline;
}

.section-four {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 75px 150px;
}

.section-four p {
  font-size: 30px;
  text-align: center;
}

.client-one,
.client-two {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.client-one div,
.client-two div {
  width: 260px;
  height: 120px;
  margin: 30px 20px;
}

.client-one div img,
.client-two div img {
  width: 100%;
}

.section-five {
  background-image: url(images/jpg/career.jpg);
  background-repeat: no-repeat;
  height: 720px;
  text-align: center;
  padding-top: 180px;
}

.section-five h1,
.section-five p,
.section-five a {
  color: #fff
}

.section-five p {
  font-size: 36px;
  font-weight: 100;
}

.section-five-link {
  margin: auto;
  padding-top: 18px;
  font-size: 24px;
  background-color: #006EE5;
  border-radius: 50px;
  width: 400px;
  height: 50px;
}

.section-five a:hover {
  text-decoration: underline;
}


/* CLOSE MAIN */